<div class="flex-h">
    <div class="people">
        <ul>
            <li ng-repeat="person in people" ui-sref-active="active">
                <a ui-sref="people.person({ personId: person.id })" ng-class="{active: $state.params.personId === person.id}">
                    {{person.name}}
                </a>
                <ul class="view-menu">
                    <li>
                        <a ui-sref="people.about({ personId: person.id })" ng-class="{active: $state.router.globals.current.name === 'people.about'}">
                            About
                        </a>
                    </li>
                    <li>
                        <a ui-sref="people.hello({ personId: person.id })" ng-class="{active: $state.router.globals.current.name === 'people.hello'}">
                            Hello
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <ui-view></ui-view>
</div>